.project-container {
    display: flex;
}

.left-container {
    width: 1100px;
}

.chapter-caption {
    margin-bottom: 0;
}

.controls-container {
    margin: 20px 0;
}

.download-link {
    padding: 10px;
}
