.left-indent {
    margin-left: 20px;
}

.fields-row {
    &-container {
        display: flex;
        min-height: 60px;
    }
    &-caption {
        position: relative;
        color: black;
        top: 38px;
        width: 250px;
        height: 33px;
    }
}

.tip-text {
    font-size: 0.75em;
}
