@import 'styles/variables';

.menu-list {
  line-height: 80px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-width: 370px;
}

.list-item {
  display: inline-block;
}

.user-container {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.user-name {
  color: $light;
  margin-left: 10px;
  font-size: 14px;
}

.link-item {
  color: $light;
  padding: 30px 20px;

  &:hover {
   background-color: $primary-light;
  }
  &:visited {
    background-color: $primary-light;
  }
}

.main-header {
  display: flex;
  background-color: $primary;
  justify-content: space-around;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
