/* Common */
$primary: #2580d6;
$primary-light: #0091ea;
$primary-selected: #0e70cc;

$error: #cd2127;
$success: #00c853;
$warning: #ffbb33;

$dark: #000;
$light: #fff;
$disabled: #ccc;
$solitude: #E4F2FF;


$tertiary: #aaaaaa;
$text-primary: #444444;
$inline-border: #e0e0e0;
$main-font-color: #989898;
$filter-background: #eff6fb;
