/* Common */
$primary: #7b1fa2;
$primary-light: #9c27b0;

$error: #cd2127;
$warning: #ffbb33;
$success: #00c853;

$dark: #000;
$light: #fff;
$disabled: #ccc;
$text-primary: #444444;
$main-font-color: #989898;
